<body>
	<font face = "Century Gothic" size = '5px'>
		<center>
		<br>Player 1: Black  |  Player 2: White</br>
		<br></br>
		</center>
	</font>
	<div id = 'playerButtons'>
		<input type = "image" id = "button1" onclick = "click1()" src = "arrow.jpg" hspace = '30'></button>
		<input type = "image" id = "button2" onclick = "click2()" src = "arrow.jpg" hspace = '30'></button>
		<input type = "image" id = "button3" onclick = "click3()" src = "arrow.jpg" hspace = '30'></button>
		<input type = "image" id = "button4" onclick = "click4()" src = "arrow.jpg" hspace = '30'></button>
		<input type = "image" id = "button5" onclick = "click5()" src = "arrow.png" hspace = '30'></button>
		<input type = "image" id = "button6" onclick = "click6()" src = "arrow.jpg" hspace = '30'></button>
		<input type = "image" id = "button7" onclick = "click7()" src = "arrow.jpg" hspace = '30'></button>
	</div>	
	<div>
	<canvas id="myCanvas" width="700" height="600"
		style="border:1px solid #d3d3d3;">
		Your browser does not support the canvas element.
	</canvas>
	</div>
</body>